node_modules
build
public
.cache
.netlify

.github

app/i18n
app/graphql-services
app/gql
commitlint.config.js
remix.config.js
app/components/icons
app/components/*/**/stories
tailwind.config.ts
lint-staged.config.js
app/graphql/index.ts
