{
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "extends": ["eslint:recommended", "prettier/@typescript-eslint", "plugin:@typescript-eslint/recommended"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "@typescript-eslint/no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
    "@typescript-eslint/no-untyped-public-signature": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "import/order": ["error", { "groups": ["builtin", "internal", "external", "index", "parent", "sibling"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
